@import url("https://use.typekit.net/nby0uty.css");

*,
html,
body {
    font-family: chainprinter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    color: #222;
}

a {
    margin: 20px;
    display: block;
}

h1 {
    font-size: 72px;
    background-color: #222;
    color: #fff;
    display: block;
    width: fit-content;
    margin: 15px;
    padding: 10px;
    width: 400px;
    line-height: 72px;
}

h3 {
    font-size: 32px;
    margin-bottom: 5px;
}

h5 {
    font-size: 18px;
    flex-basis: 100%;
    margin-bottom: 10px;
}

.description {
    width: 400px;
    margin: 15px;
}

.interface {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 400px;
}

.interface>div {
    margin: 10px 0;
    border: 0.5px solid black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interface>div label {
    cursor: pointer;
    outline: 1px solid blue;
    padding: 5px;
    flex-basis: 24%;
    color: blue;

}

.interface>div label:hover {
    color: white;
    background-color: blue;

}

.interface input {
    display: none;
}

.size {
    display: flex;
    flex-flow: row nowrap;
}

.size div {
    flex-basis: 1;
    flex-grow: 1;
}

.size div:nth-of-type(2) {
    text-align: center;
}

.size div:last-of-type {
    text-align: right;
}

.swatch {
    width: 20px;
    height: 20px;
    border: 1px blue solid;
    margin: 5px;
    vertical-align: middle;
    float: right;
}

#save-output {
    margin: 20px 0 0 0;
    cursor: pointer;
    outline: 1px solid blue;
    padding: 10px 5px;
    color: blue;
    border: 0;
    
}

#save-output:hover {
    color: white;
    background-color: blue;
}

span {
    font-size: 8px;
}