@import url("https://use.typekit.net/nby0uty.css");

*,
html,
body {
    font-family: chainprinter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    color: #222;
    cursor: crosshair;
}

body {
    margin: 20px;
}

a {
    display: inline-block;
    cursor: pointer;
    outline: 1px solid blue;
    padding: 10px 10px;
    color: blue;
}
a:hover {
    color: white;
    background-color: blue;
}

h1 {
    font-size: 30px;
    color: #222;
    display: block;
    width: 800px;
    margin: 15px 0px;
    line-height: 30px;
}

.description {
    width: 400px;
    line-height: 14px;
}

.container {
    position: absolute;
    right: 20%;
    top: 20%;
    padding: 20px;
}

#sketch-container canvas {
    margin: 15px;
}

h5 {
    font-size: 18px;
    flex-basis: 100%;
    margin-bottom: 10px;
}

.interface>div {
    margin: 10px 0;
    border: 0.5px solid black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interface .size {
    flex-flow: column;
}

.interface>div label {
    cursor: pointer;
    outline: 1px solid blue;
    padding: 5px;
    flex-grow: 1;
    color: blue;

}

.interface>div label:hover {
    color: white;
    background-color: blue;

}

.interface input {
    display: none;
}

.swatch {
    width: 20px;
    height: 20px;
    border: 1px blue solid;
    margin: 5px;
    vertical-align: middle;
    float: right;
    cursor: pointer;
}

.export div {
    flex-basis: 49.5%;
}

#save-output {
    cursor: pointer;
    outline: 1px solid blue;
    padding: 10px 5px;
    color: blue;
    border: 0;
    
}

#save-output:hover {
    color: white;
    background-color: blue;
}

span {
    font-size: 8px;
}